input,
button,
textarea {
    font: inherit;
    outline: none;
}
button {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
}
img,
picture,
svg {
    display: block;
}
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
/* ПЕРЕМЕННЫЕ!!!! */
:root {
    --accent-color: #2196f3;
    --second-title-color: #212121;
    --text-color: #757575;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --address-color: #ffffff;
    --title-color: #ffffff;
    --logo-color: #2196f3;
    --main-color: #212121;
    --primary-btn-color: #ffffff;
    --secondary-btn-color: #212121;
    --background-primary-btn: #2196f3;
    --add-accent-color: #188ce8;
    --background-secondary-btn: #f5f4fa;
    --background-footer: #2f303a;
    --background-header: #ffffff;
    --background-section: #f5f4fa;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    color: var(--text-color);
    background-color: var(--background-header);
}

.container {
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.hidden-title {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin: -1px;
}
/* HEADER!!!!!!!!!!!!!!!!!! */
.header {
    border-bottom: 1px solid #ececec;
}
.main-nav {
    display: flex;
    align-items: center;
}
.nav-logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.nav-logo .link:focus,
.nav-logo .link:hover {
    color: var(--accent-color);
}

.logo-accent {
    color: var(--main-color);
}
.nav-list {
    display: flex;
    margin-left: 93px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
}
.nav-list .link:focus,
.nav-list .link:hover {
    color: var(--accent-color);
}
.nav-list .nav-item:not(:last-child) {
    margin-right: 50px;
}
.contacts-list {
    display: flex;
    margin-left: auto;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts-list .link:focus,
.contacts-list .link:hover {
    color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}

.contacts-list .contacts-item:not(:last-child) {
    margin-right: 50px;
}
/* HERO!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.hero {
    background: var(--background-footer);
    text-align: center;
    padding: 200px 0;
}
.main-title {
    margin: 0 auto;
    max-width: 650px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-color);
}
.primary-btn {
    margin-top: 30px;
    padding: 10px 32px 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-btn-color);
    background-color: var(--background-primary-btn);
    border: var(--accent-color);
    border-radius: 4px;
}
.primary-btn:focus,
.primary-btn:hover {
    background-color: var(--add-accent-color);
    border-radius: 4px;
}

/* FEATURE!!!!!!!!!!!!!!!!!!!!!!!! */
.features {
    padding-bottom: 0;
}
.feature-list {
    display: flex;
}
.feature-list .feature-item:not(:last-child) {
    margin-right: 30px;
}
.feature-title {
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--second-title-color);
}
.feature-item {
    width: 270px;
}
/* WORK!!!!!!!!!!!!!!!!! */
.second-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--second-title-color);
}
.work-list {
    display: flex;
}
.work-list .work-item:not(:last-child) {
    margin-right: 30px;
}

/* TEAM!!!!!!!!!!!!!!!!!! */
.team {
    background-color: var(--background-section);
}

.team-list {
    display: flex;
}
.team-list .team-item:not(:last-child) {
    margin-right: 30px;
}
.team-box {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item .team-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--second-title-color);
}
.team-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
/* FOOTER!!!!!!!!!!!!!!!!!! */
.footer {
    background-color: var(--background-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
}
.footer-accent {
    color: var(--address-color);
}
.address-list {
    color: var(--contacts-color);
}
.address-accent {
    color: var(--address-color);
}
.footer-logo .link:focus,
.footer-logo .link:hover {
    color: var(--accent-color);
}
.address-link {
    font-style: normal;
    padding-top: 25px;
    padding-bottom: 25px;
}
.address-list .address-link:focus,
.address-list .address-link:hover {
    color: var(--address-color);
}
.address-list {
    margin-top: 20px;
}
.address-list .address-item:not(:last-child) {
    margin-bottom: 9px;
}
/* PORTFOLIO!!!!!!!!!! */

.filter-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.filter-btn {
    align-items: center;
    padding: 6px 22px 6px 22px;
    border: none;
    border-radius: 4px;
}
.filter-btn.current {
    color: var(--primary-btn-color);
    background-color: var(--background-primary-btn);
}
.filter-list .filter-item:not(:last-child) {
    margin-right: 8px;
}
.filter-list .filter-btn:focus,
.filter-list .filter-btn:hover {
    background-color: var(--background-primary-btn);
    color: var(--primary-btn-color);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item {
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-item:nth-child(3n) {
    margin-right: 0px;
}
.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.flex-element {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    width: 370px;
    background: var(--background-header);
    border: 1px solid #eeeeee;
}
.portfolio-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-title-color);
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color);
}
